token = "lcsajlc dsc.GxHasdfasf4lT.asdfasdfsafasfdasdfsa-adsfascscscs"
subscription_key = "acsdcwd1dfg4356121312321"

# yid = 445946881655177216
yid = 481430373981749262
region = "eastus"
language = "zh-CN"
end = ['喵', 'waku waku']
